Language:        JavaScript
BasedOnStyle:    Google
ColumnLimit:     80
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
JavaScriptQuotes: Single
JavaScriptWrapImports: true
BreakStringLiterals: false