Language:        JavaScript
BasedOnStyle:    Google
ColumnLimit:     80
AllowShortFunctionsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
JavaScriptQuotes: Single
BreakStringLiterals: false
