# exclude all
**/*

!dist
!package.json
!plistOld.language-configuration.json
!syntaxes
!LICENSE
!package/commands.json
!tree-sitter/*.wasm
!node_modules/web-tree-sitter/tree-sitter.wasm

# All modules excluded in webpack "externals" and their dependencies
!node_modules/extract-file-icon
!node_modules/node-gyp-build
