# exclude all
**/*

!dist
!package.json
!plistOld.language-configuration.json
!tasks.schema.json
!syntaxes
!LICENSE

# All modules excluded in webpack "externals" and their dependencies
!node_modules/node-window-manager
!node_modules/extract-file-icon
!node_modules/node-gyp-build
